<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf example</title>
</head>
<body>
<h1>Thymeleaf Example</h1>
<span th:text="'Message from the servlet: ' + ${message}"></span>
</body>
</html>
